<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{% url "homepage" %}">Django Deployment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url "homepage" %}"><i class="fas fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
      <a class="nav-item nav-link" href="#"><i class="fas fa-cog fa-fw" aria-hidden="true"></i>&nbsp;Features</a>
      <a class="nav-item nav-link" href="{% url 'uploads:uploads' %}">Upload</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
    </div>
  </div>
</nav>
