{% extends 'base.html' %}
{% load static %}

{% block page_title %}Let's Upload!{% endblock page_title %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="{% static 'uploads/css/uploads.css' %}">
{% endblock extra_stylesheets %}


{% block content %}
  <h1 class="mt-2"><i class="fas fa-upload" aria-hidden="true"></i> <u>Upload file</u></h1>

  <div>{% if message %}<p class="system-message alert alert-success">{{ message }}</p>{% endif %}</div>

  <div class="form-container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit">
    </form>
  </div>

  <div class="songs m-4">
  {% if audiofiles %}
    {% for audiofile in audiofiles %}
      <div class="d-flex align-items-center m-2" id="track-{{ audiofile.pk }}-div">
        <audio controls>
          <source src="{{ audiofile.upload.url }}" type="audio/wav">
        </audio>
        <button class="btn btn-sm btn-outline-dark ml-3 delete-btn" id="track-{{ audiofile.pk }}">X</button>
      </div>
    {% endfor %}
  {% else %}
    <p>No audio files uploaded. Upload one above!</p>
  {% endif %}
  </div>

{% endblock content %}

{% block extra_javascript %}
  <script src="{% static "uploads/js/scripts.js" %}"></script>
  <script>
    $('.delete-btn').on('click', function() {
        const trackId = parseInt($(this).attr('id').replace("track-", ""));
        $.ajax({
            url: "{% url 'uploads:ajax_delete' %}",
            headers:{
                "X-CSRFToken": "{{ csrf_token }}"
            },
            type: "POST",
            data: {
                "track_id": trackId,
            },
            dataType: 'json',
            success: function(response) {
                console.log(trackId + 'deleted.');
                $(`#track-${trackId}-div`).remove();
            },
            error: function(response) {
                console.log('ERRPR');
                console.log(response.responseText);
            }
        })
    })
  </script>
{% endblock extra_javascript %}
